/readfile/nbproject/private/
/Aufgabe1/readfile/nbproject/private/
/Aufgabe1/readfile/build/
/Aufgabe1/textmining-ss16-master/Textmining/nbproject/private/
/Aufgabe2/ShakespeareParser/nbproject/private/
/Aufgabe2/ShakespeareParser/build/